NEXT_PUBLIC_SUPABASE_URL=https://hltpqflqngtrmprayyvd.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_cV_LDTHry1FAhtZsj8zukg_DyEexiS7
RESEND_API_KEY=
NEW_CUSTOMER_ALERT_TO=info@switchapp.co.il
NEW_CUSTOMER_FROM=SwitchApp <notifications@updates.switchapp.co.il>
